@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --main-colour:rgb(235, 104, 126);
    --black:rgb(29, 27, 27);
    --bg:rgb(36, 5, 5);
    --border:1rem solid rgb(141, 121, 121);
}
*{
    font-family: 'Roboto' sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}
body{
    background: var(--bg);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--main-colour);
    width: 100%;
    text-align: center;
}
.btn:hover{
    letter-spacing: 2rem;
}
.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
#logo{
    height: 5rem;
}
.navbar a{
    margin: 0 1 rem;
    font-size: 1.6rem;
    color: #fff;
}
.navbar a:hover{
    color: var(--main-colour);
    border-bottom: 0.2rem solid var(--main-colour);
}
.icons a:hover{
    color: var(--main-colour);
    border-bottom: 0.2rem solid var(--main-colour);
}
#menu-btn{
    display: none;
}
.search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background-color: #fff;
    width: 40rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}.search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--black);
    padding: 1rem;
    text-transform: none;
}
.search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-left: 1.5rem;
    color: var(--black);
}
.search-form label:hover{
    color: var(--main-colour);
}
.cart-items-container{
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background-color: #fff;
    padding: 0 1.5rem;
}
.cart-items-container.cart-item{
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.cart-items-container.cart-item.fa-time{
    position: absolute;
    top: 1rem;
    right: 10rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}
.cart-items-container.cart-item.fa-time:hover{
    color: var(--main-colour);
}
.X{
    font-size: 30px;
    position: absolute;
    color: black;
    margin-left: 20vw;
    font-weight: 800;
    cursor: pointer;
}
.X:hover{
    color: brown;
}
#h4{
    font-size: 15px;
    padding-bottom: .0.5rem;
    color: var(--black);
    margin-left: 10vw;
}
.price{
    font-size: 15px;
    color: var(--black);
    margin-left: 10vw;
}
#delete{
    font-size: 20px;
    position: absolute;
    color: rgb(49, 4, 4);
    margin-left: 20vw;
    font-weight: 800;
    cursor: pointer;
}

* media query */
@media(max-width:991px){ 

    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
}
@media(max-width:991px){
    #menu-btn{
        display: inline-block;
    }
    .header.navbar{
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        background: 30rem;

    }
}
